table.infoboxTable {
	width: 30em;
	font-size: 90%;
	border: 1px solid #aaaaaa;
	background-color: #f9f9f9;
	color: black;
	margin-bottom: 0.5em;
	margin-left: 1em;
	padding: 0.2em;
	float: right;
	clear: right;
	text-align: left;
}

th.infoboxTitle {
	text-align: center;
	background-color: #ccccff;
	font-size: larger;
}
